<a href="https://colab.research.google.com/github/OceanMin03/program-J/blob/main/3_25_AI_%EA%B0%95%EC%9D%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#재귀함수

#코드 4-29
def factorial(n):
  if n <= 1 :
    return 1
  else:
    return n*factorial(n-1)

print(factorial(5))

#for 문보다 더 빨리 흘러감

120

In [5]:
def factorial2(n):
  tmp = 1
  for i in range(n):
    tmp *= (i+1)
  return tmp

print(factorial2(5))

#시험에 나옴 #def, for 같이 써보기!!

120

In [9]:
def fibonacci(n):
  if n <= 1 :
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(7))

13

In [27]:
#입력함수와 출력함수 #input #int
a_list = list(map(float,input("세 개의 숫자를 입력해 주세요 : ").split(',')))
print(type(a_list))
print(a_list)

세 개의 숫자를 입력해 주세요 : 1.23, 3.14, 4.26
<class 'list'>
[1.23, 3.14, 4.26]

In [37]:
'1,2,3'.split(' , ')

['1,2,3']

In [41]:
a = 'hello'
b = a.upper()
print(b)

HELLO

In [42]:
'{} Test'.format("my")

'my Test'

In [43]:
'{2} {0} {1} Test'.format("my", 100,400)

'400 my 100 Test'

In [47]:
a = '{2:d} {0:s} {1:f} Test'.format("my", 100,400)
print(a)

400 my 100.000000 Test

In [48]:
for i in range(10):
  a = '{} 번째 손님은 오늘의 {} 번째 손님입니다.'.format(i+1,i+101)
  print(a)

1 번째 손님은 오늘의 101 번째 손님입니다.
2 번째 손님은 오늘의 102 번째 손님입니다.
3 번째 손님은 오늘의 103 번째 손님입니다.
4 번째 손님은 오늘의 104 번째 손님입니다.
5 번째 손님은 오늘의 105 번째 손님입니다.
6 번째 손님은 오늘의 106 번째 손님입니다.
7 번째 손님은 오늘의 107 번째 손님입니다.
8 번째 손님은 오늘의 108 번째 손님입니다.
9 번째 손님은 오늘의 109 번째 손님입니다.
10 번째 손님은 오늘의 110 번째 손님입니다.

In [49]:
#upper